<div class="col p-0">
  <div class="lists-col-element">
    <% if list.cover_picture.present? %>
    <div class="list-col-card d-flex align-items-end justify-content-center" style="background-image: url('<%= list.cover_picture.key %>');">
        <div class="flex-column p-2 list-col-h text-center bg-trans-0 align-items-center justify-content-center">
          <h4 class=""><%= list.list_name %></h4>
            <div class="d-flex w-100 flex-row align-items-center justify-content-center">
              <div class="btn btn-outline-info mx-1">
                <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
              </div>
              <%= link_to "Open it", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% if list.user.id == current_user.id %>
                <%= link_to "Edit list", edit_list_path(list), class: "btn btn-outline-success mx-1"%>
                <%= link_to "Delete", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% end %>
            </div>
        </div>
    </div>
    <% else %>
      <% if list.list_items.present? %>
        <div class="list-col-card d-flex align-items-end justify-content-center" style="background-image: url('<%= list.list_items.first.listable.backdrop_url %>');">
          <div class="flex-column p-2 list-col-h text-center bg-trans-0 align-items-center justify-content-center">
            <h4 class=""><%= list.list_name %></h4>
            <div class="d-flex w-100 flex-row align-items-center justify-content-center">
              <div class="btn btn-outline-info mx-1">
                <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
              </div>
              <%= link_to "Open it", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% if list.user.id == current_user.id %>
                <%= link_to "Edit list", edit_list_path(list), class: "btn btn-outline-success mx-1"%>
                <%= link_to "Delete", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="list-col-card d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path "list-banner" %>');">
          <div class="flex-column p-2 list-col-h text-center bg-trans-0 align-items-center justify-content-center">
            <h4 class=""><%= list.list_name %></h4>
            <div class="d-flex w-100 flex-row align-items-center justify-content-center">
              <div class="btn btn-outline-info mx-1">
                <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
              </div>
              <%= link_to "Open it", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% if list.user.id == current_user.id %>
                <%= link_to "Edit list", edit_list_path(list), class: "btn btn-outline-success mx-1"%>
                <%= link_to "Delete", list_path(list), class: "btn btn-outline-success mx-1" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="d-none">
  <h2><%= list.list_name %></h2>
  <p><%= list.description %></p>
  <p><%= list.votes %></p>
  <p><%= link_to "See more", list_path(list) %></p>
  <% if list.user.id == current_user.id %>
    <%= link_to "Edit list", edit_list_path(list) %>
    <%= link_to "Delete", list_path(list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
