<div class="info-box m-1 p-4 pt-3">
  <h1 class="fs-1 fw-bolder w-100 text-center trans-text mb-4">Find the perfect list</h1>
  <%= search_form_for q, html: { data: { refresh_search_target: "form", turbo_frame: "result" } } do |f| %>
    <%= f.text_field :lists, class: "d-none", value: params[:lists] %>
    <div class="form-floating mb-4">
      <%= f.search_field :list_name_or_description_or_user_username_or_user_first_name_or_user_last_name_i_cont_any, class: "form-control", id: "floatingTitel", placeholder: "Search by name", data: { refresh_search_target: "titleInput", refresh_search_target: 'clearme', action: "refresh-search#update" } %>
      <%= f.label :title_cont, 'Type your search', for: "floatingTitel" %>
    </div>
    <hr>
    <%= f.submit "Search!", class: "btn btn-outline-info d-none" %>
    <% end %>
  <%= link_to 'Clear search', request.path, data: { action: "click->refresh-search#clean", turbo_frame: 'search'}, class: "btn btn-outline-info py-1" %>
</div>
