<%= turbo_frame_tag "result", target: '_top' do %>
<div class="container-fluid mb-4" data-controller="refresh-search infinite-scroll">

  <%= render "movies/search_form", q: @q, movies: @movies, keywords: @keywords %>

  <%# request.url %>

  <div class="p-2 mt-5 d-flex align-items-center justify-content-evenly">
    <h4 class="mx-1">Order by:</h4>
    <%= link_to 'Clear search', request.path, data: { turbo_frame: 'result'}, class: "btn btn-outline-primary py-1" if request.query_parameters.any? %>
    <%# link_to 'Clear search', request.path, data: { action: "click->refresh-search#clean", turbo_frame: 'search'}, class: "btn btn-outline-primary py-1" if request.query_parameters.any? %>

    <div class="btn-group mx-1" role="group" aria-label="title sort">
      <div class="btn btn-outline-info py-1 btn-disabled">Titel</div>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :title, default_order: :asc) %>" data-turbo-frame="search" >&#9660;</a>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :title, default_order: :desc) %>" data-turbo-frame="search">&#9650;</a>
    </div>
    <div class="btn-group mx-1" role="group" aria-label="User score sort">
      <div class="btn btn-outline-info py-1 btn-disabled">User score</div>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :rating_average, default_order: :asc) %>" data-turbo-frame="search">&#9660;</a>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :rating_average, default_order: :desc) %>" data-turbo-frame="search">&#9650;</a>
    </div>
    <div class="btn-group mx-1" role="group" aria-label="Critic score sort">
      <div class="btn btn-outline-info py-1 btn-disabled">Critic score</div>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :critic_score, default_order: :asc) %>" data-turbo-frame="search">&#9660;</a>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :critic_score, default_order: :desc) %>" data-turbo-frame="search">&#9650;</a>
    </div>
    <div class="btn-group mx-1" role="group" aria-label="Popularity sort">
      <div class="btn btn-outline-info py-1 btn-disabled">Popularity</div>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :popularity, default_order: :asc) %>" data-turbo-frame="search">&#9660;</a>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :popularity, default_order: :desc) %>" data-turbo-frame="search">&#9650;</a>
    </div>
    <div class="btn-group mx-1" role="group" aria-label="Release date sort">
      <div class="btn btn-outline-info py-1 btn-disabled">Release date</div>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :release_date, default_order: :asc) %>" data-turbo-frame="search">&#9660;</a>
      <a class="btn btn-outline-info py-1" href="<%= sort_url(@q, :release_date, default_order: :desc) %>" data-turbo-frame="search">&#9650;</a>
    </div>
  </div>
  <hr>

  <div id="pagination" data-infinite-scroll-target="pagination" class=" ps-3">
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_bootstrap_nav_js(@pagy) %>
  </div>
  <div id="items">
    <%= render "movies_result", movies: @movies %>
  </div>
  <div data-infinite-scroll-target='area'></div>
  <p class="loading">Loading...</p>
  <div id="pagination" data-infinite-scroll-target="pagination" class="pt-3">
    <%== pagy_bootstrap_nav(@pagy) %>
    <%== pagy_bootstrap_nav_js(@pagy) %>
  </div>

</div>
<% end %>
