<div class="container">
  <% @movies.each do |movie| %>
  <ul>
    <li>
      <p><%= movie.title %></p>
      <p><%= movie.country_of_origin %></p>
      <p><%= movie.release_date %></p>
      <p><%= movie.overview %></p>
      <p><%= movie.rating_average %></p>
      <p><%= link_to "See more", movie_path(movie) %></p>
    </li>
  </ul>
  <% end %>
</div>
