<h4 class="py-3">This is a movie show</h4>

<div>
  <%= @movie.title %>
  <%= @movie.country_of_origin %>
  <%= @movie.release_date %>
  <%= @movie.overview %>
  <%= @movie.rating_average %>
  <%= link_to "Home", root_path %>
</div>
