<% movie_save = "#{current_user.favorited?(@movie) ? 'btn-danger' : 'btn-info'}"%>

<div class="media-banner mt-n5 position-absolute" style="background-image: linear-gradient(180deg, rgba(13,13,13,0.8) 0%, rgba(33,33,33,0.4) 40%, rgba(13,13,13,1) 90%), url('<%= @movie.backdrop_url %>')">
</div>

<div class="row h-100 w-100 pt-5 m-0">
  <div class="col-12 col-md-6 col-lg-7 order-5 order-sm-1 d-flex flex-column align-items-center justify-content-start justify-content-md-center">
    <% if @movie.trailer.present? %>
      <% trailer =  @movie.trailer %>
      <% trailer["https://www.youtube.com/watch?v="] = "https://www.youtube.com/embed/" %>
      <iframe class="rounded" style="aspect-ratio: 16/9;" width="85%" height="" src="<%= trailer %>">
      </iframe>
    <% end %>
    <% if @movie.tagline.present? %>
    <div class="my-4 w-50 text-center">
      <h2 class="fw-bold px-2 trans-text m-0">“ <%= @movie.tagline %> „</h2>
    </div>
    <% end %>
    <div class="d-flex align-items-center justify-content-center">
      <div data-controller="mark-favorite">
        <%= turbo_frame_tag "like_button" do %>
        <div data-mark-favorite-target="button">
            <%= button_to toggle_favorite_movie_path(@movie), method: :post, data: { action: "click->mark-favorite#toggle"}, class: "btn avatar d-flex align-items-center justify-content-center m-2 #{movie_save}" do %>
              <%= render 'svg/check-circle' %>
            <% end %>
        </div>
        <% end %>
      </div>
      <%= link_to "#scrollspyReview", class: "btn btn-info avatar d-flex align-items-center justify-content-center m-2" do %>
        <%= render 'svg/star' %>
      <% end %>
        <div class="dropdown-center down-none m-2">
          <button type="button" class="btn btn-info avatar d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#new_list_modal">
            <%= render 'svg/list' %>
          </button>
          <%= render "list_items/new_list_item", listable: @listable, list_item: @list_item, lists: @lists %>
        </div>
      <button class="btn btn-info avatar m-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExtras" aria-expanded="false" aria-controls="collapseExtras">
        <%= render 'svg/corner-right-down' %>
      </button>
    </div>
    <div class="collapse" id="collapseExtras">
      <div class="card card-body info-box m-2 mx-5 p-0 ps-3 pt-3 pb-2">
        <div class="row row-cols-3">
          <p class="col m-0 mb-1"><span class="trans-text px-2">Status</span> <%= @movie.status if @movie.status.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Release date</span> <%= @movie.release_date if @movie.release_date.present? %></p>
          <p class="col m-0 mb-1 line-clamp-s"><span class="trans-text px-2">homepage</span> <a class="text-light" href="<%= @movie.homepage if @movie.homepage.present? %>">link</a></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Revenue</span> $<%= @movie.revenue if @movie.revenue.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Budget</span> $<%= @movie.budget if @movie.budget.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Original lenguage</span> <%= @movie.original_language.upcase if @movie.original_language.present? %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-5 order-1 order-sm-5 d-flex flex-column align-items-center justify-content-center px-4">
    <div class="info-small mt-2 mb-n0 fw-normal">
      <small class="mb-2"><span class="trans-text px-1">User score</span> <span class="fw-semibold text-info"><%= @movie.rating_average %></span> </small>
      <small class="mb-2"><span class="trans-text px-1">Critic score</span> <span class="fw-semibold text-info"><%= @movie.critic_score %>%</span>  </small>
      <small class="mb-2"><span class="trans-text px-1"><%= render 'svg/trending-up' %> <%= @movie.popularity.round %></span></small>
    </div>
    <h1 class="fs-1 fw-bold"><%= @movie.title %></h1>
    <div class="info-small pb-2 text-center">
      <small class="mb-2"><%= @movie.year %> •</small>
      <small class="mb-2"><%= @movie.runtime %> min •</small>
      <% @movie.genre_names[0..-2].each do |genre| %>
        <small class="mb-2"><%= genre %>,</small>
      <% end %>
      <small class="mb-2"><%= @movie.genre_names[-1] %> •</small>
      <% if @movie.us_rating.present? %>
        <small class="mb-2 trans-text px-1 fw-semibold"><%= @movie.us_rating %></small>
      <% end %>
    </div>
    <p class="text-center"><%= @movie.overview %></p>
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <%= render "movies/providers", service_providers: @free_providers, media_providers: @media_providers %>
      <%= render "movies/providers", service_providers: @sub_providers, media_providers: @media_providers %>
      <%= render "movies/providers", service_providers: @purchase_providers, media_providers: @media_providers %>
      <%= render "movies/providers", service_providers: @tve_providers, media_providers: @media_providers %>
    </div>
  </div>
</div>

<div class="container-fluid m-0 px-3 ps-sm-4 p-2">
  <% if @similars.present?  %>
    <%= render 'shared/movies_slider', movies: @similars, slider_title: 'Similar titles' %>
  <% end %>
  <% if @recommendations.present?  %>
    <%= render 'shared/movies_slider', movies: @recommendations, slider_title: 'Recommendations' %>
  <% end %>
</div>

<div class="container mb-5">
  <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin" class="row">
    <div id="scrollspyReview" data-insert-in-list-target="infos" class="col-12 col-md-4 mt-2 p-2 position-sticky">
        <% user_review = Review.where(reviewable_id: params[:id], reviewable_type: "Movie", user: current_user) %>
        <% if user_review.empty? %>
          <%= render "reviews/review_form",  reviewable: @reviewable, review: @review %>
        <% else %>
         <h6 class="fs-6 fs-md-2 m-0 text-center">Thank you for your review!</h6>
        <% end %>
    </div>
    <div class="col-12 col-md-8">
      <% if @movie.reviews.empty? %>
        <div data-insert-in-list-target="first" class="text-center">
          <small><em class="text-muted">Be the first one to review this movie</em></small>
        </div>
      <% end %>
      <%= render "reviews/review_list", reviewable: @movie %>
    </div>
  </div>
</div>

<%= link_to 'javascript:history.back()' do %>
<div class="fw-bold fs-1 position-absolute btn btn-back my-3 mx-2 py-3 px-2 mx-md-5 my-md-4 py-md-4">
  <%= render 'svg/arrow-left-circle' %>
</div>
<% end %>
