<div class="container">
  <% @tvs.each do |tv| %>
  <ul>
    <li>
      <p><%= tv.title %></p>
      <p><%= tv.country %></p>
      <p><%= tv.first_air_date %></p>
      <p><%= tv.overview %></p>
      <p><%= tv.rating_average %></p>
      <p><%= link_to "See more", tv_path(tv) %></p>
    </li>
  </ul>
  <% end %>
</div>
