<h1>Tvs#index</h1>
<p>Find me in app/views/tvs/index.html.erb</p>

<% @tvs.each do |tv| %>
<div>
  <%= tv.title %>
  <%= tv.country %>
  <%= tv.start_date %>
  <%= tv.end_date %>
  <%= tv.overview %>
  <%= link_to "See more", tv_path(tv) %>
</div>
<% end %>
