<h1>Tvs#show</h1>
<p>Find me in app/views/tvs/show.html.erb</p>

<div>
  <%= tv.title %>
  <%= tv.country %>
  <%= tv.first_air_date %>
  <%= tv.overview %>
  <%= tv.rating_average %>
  <%= link_to "Home", root_path %>
</div>
