<div class="media-banner mt-n5 position-absolute" style="background-image: linear-gradient(180deg, rgba(13,13,13,0.8) 0%, rgba(33,33,33,0.4) 40%, rgba(13,13,13,1) 90%), url('<%= @tv.backdrop_url %>')">
</div>

<div class="row h-100 w-100 m-0">
  <div class="col-12 col-md-6 order-5 order-sm-1 col-lg-7 d-flex flex-column align-items-center justify-content-start justify-content-md-center">
    <% if @tv.trailer.present? %>
      <% trailer =  @tv.trailer %>
      <% trailer["https://www.youtube.com/watch?v="] = "https://www.youtube.com/embed/" %>
      <iframe class="rounded" style="aspect-ratio: 16/9;" width="85%" height="" src="<%= trailer %>">
      </iframe>
    <% end %>
    <% if @tv.tagline.present? %>
    <div class="my-4 w-75 text-center">
      <h2 class="fw-bold px-2 trans-text m-0">“ <%= @tv.tagline %> „</h2>
    </div>
    <% end %>
    <div class="d-flex align-items-center justify-content-center">
      <%= link_to "#scrollspyReview", class: "btn btn-info avatar d-flex align-items-center justify-content-center m-2" do %>
        <%= render 'svg/star' %>   
      <% end %>
      <div class="dropdown-center down-none m-2">
        <button type="button" class="btn btn-info avatar d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#new_list_modal">
          <%= render 'svg/list' %>
        </button>
        <%= render "list_items/new_list_item", listable: @listable, list_item: @list_item, lists: @lists %>
      </div>
      <button class="btn btn-info avatar m-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExtras" aria-expanded="false" aria-controls="collapseExtras">
        <%= render 'svg/corner-right-down' %>
      </button>
    </div>
    <div class="collapse" id="collapseExtras">
      <div class="card card-body info-box m-2 mx-5 p-0 ps-3 pt-3 pb-2">
        <div class="row row-cols-3">
          <p class="col m-0 mb-1"><span class="trans-text px-2">Status</span> <%= @tv.status if @tv.status.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Number of seasons</span> <%= @tv.number_of_seasons if @tv.number_of_seasons.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Number of episodes</span> <%= @tv.number_of_episodes if @tv.number_of_episodes.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">First air date</span> <%= @tv.first_air_date if @tv.first_air_date.present? %></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Last air date</span> <%= @tv.last_air_date if @tv.last_air_date.present? %></p>
          <p class="col m-0 mb-1 line-clamp-s"><span class="trans-text px-2">homepage</span> <a class="text-light" href="<%= @tv.homepage if @tv.homepage.present? %>">link</a></p>
          <p class="col m-0 mb-1"><span class="trans-text px-2">Original lenguage</span> <%= @tv.original_language.upcase if @tv.original_language.present? %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-5 order-1 order-sm-5 d-flex flex-column align-items-center justify-content-center px-4">
    <div class="info-small mt-2 mb-n0 fw-normal">
      <small class="mb-2"><span class="trans-text px-1">User score</span> <span class="fw-semibold text-info"><%= @tv.rating_average %></span> </small>
      <small class="mb-2"><span class="trans-text px-1">Critic score</span> <span class="fw-semibold text-info"><%= @tv.critic_score %>%</span>  </small>
      <small class="mb-2"><span class="trans-text px-1"><%= render 'svg/trending-up' %> <%= @tv.popularity.round %></span></small>
    </div>
    <h1 class="fs-1 fw-bold"><%= @tv.title %></h1>
    <div class="info-small pb-2 text-center">
      <small class="mb-2"><%= @tv.year %> •</small>
      <small class="mb-2"><%= @tv.runtime %> min •</small>
      <% @tv.genre_names[0..-2].each do |genre| %>
        <small class="mb-2"><%= genre %>,</small>
      <% end %>
      <small class="mb-2"><%= @tv.genre_names[-1] %> •</small>
      <% if @tv.us_rating.present? %>
        <small class="mb-2 trans-text px-1 fw-semibold"><%= @tv.us_rating %></small>
      <% end %>
    </div>
    <p class="text-center"><%= @tv.overview %></p>
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <%= render "tvs/providers", service_providers: @free_providers, media_providers: @media_providers %>
      <%= render "tvs/providers", service_providers: @sub_providers, media_providers: @media_providers %>
      <%= render "tvs/providers", service_providers: @purchase_providers, media_providers: @media_providers %>
      <%= render "tvs/providers", service_providers: @tve_providers, media_providers: @media_providers %>
    </div>
  </div>
</div>

<div class="container-fluid m-0 px-3 ps-sm-4 p-2">
  <% if @similars.present?  %>
    <%= render 'shared/tvs_slider', tvs: @similars, slider_title: 'Similar titles' %>
  <% end %>
  <% if @recommendations.present?  %>
    <%= render 'shared/tvs_slider', tvs: @recommendations, slider_title: 'Recommendations' %>
  <% end %>
</div>

<div class="container mb-5">
  <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin" class="row">
    <div id="scrollspyReview" data-insert-in-list-target="infos" class="col-12 col-md-4 mt-2 p-2 position-sticky">
        <% user_review = Review.where(reviewable_id: params[:id], reviewable_type: "Tv", user: current_user) %>
        <% if user_review.empty? %>
          <%= render "reviews/review_form",  reviewable: @reviewable, review: @review %>
        <% else %>
         <h5 class="fs-6 fs-md-2 m-0 text-center">Thank you for your review!</h5>
        <% end %>
    </div>
    <div class="col-12 col-md-8">
      <% if @tv.reviews.empty? %>
        <div data-insert-in-list-target="first" class="">
          <small><em class="text-muted">Be the first one to review this movie</em></small>
        </div>
      <% end %>
      <%= render "reviews/review_list", reviewable: @tv %>
    </div>
  </div>
</div>

<%= link_to 'javascript:history.back()' do %>
<div class="fw-bold fs-1 position-absolute btn btn-back my-3 mx-2 py-3 px-2 mx-md-5 my-md-4 py-md-4">
  <%= render 'svg/arrow-left-circle' %>
</div>
<% end %>
