<h1>Tvs#show</h1>
<p>Find me in app/views/tvs/show.html.erb</p>

<div>
  <%= tv.title %>
  <%= tv.country %>
  <%= tv.start_date %>
  <%= tv.end_date %>
  <%= tv.overview %>
  <%= tv.number_of_seasons %>
  <%= tv.number_of_episodes %>
  <%= link_to "Home", root_path %>
</div>
