<div class="px-1 py-2 d-flex flex-column align-items-center justify-content-between">
  <div class="d-flex align-items-center flex-column justify-content-between inside-info">
    <h1 class="fs-res mb-2 text-center"><%= movie[:title] %></h1>
    <% if movie[:year].present? %>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center my-2">
      <small class=""><span class="pe-1"><%= movie[:year] %></span>•</small>
      <small class=""><span class="ps-1"><%= movie[:runtime] %> min</span>•</small>
      <% movie[:genre_names][0..-2].each do |genre| %>
        <small class=""><span class="ps-1"><%= genre %>,</small>
      <% end %>
      <small class=""><span class="ps-1"><%= movie[:genre_names][-1] %> •</small>
      <% if movie[:us_rating].present? %>
        <small class=""><span class="trans-text px-1 mx-1 fw-semibold"><%= movie[:us_rating] %></span></small>
      <% end %>
      <small class="">•<span class="ps-1"><%= movie[:status] %></small>
    </div>
    <% if movie[:tagline].present? %>
      <p class="my-2 fw-semibold text-center">“<%= movie[:tagline] %>„</p>
    <% end %>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center my-2">
      <small class="square-score-inv px-1 fw-semibold me-1"><%= movie[:rating_average] %> </small>
      <small class="square-score-inv px-1 fw-semibold me-1"><%= movie[:critic_score] %>% </small>
      <small class="square-score-inv fw-semibold px-1 me-1">∆ <%= movie[:popularity].round %></small>
    </div>
  <% else %>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center my-2">
      <small class="square-score-inv fw-semibold px-1 mx-1"><%= movie[:release_date][0..3] %></small>
      •
      <small class="square-score-inv mx-1 px-1 fw-semibold"><%= movie[:rating_average] %> </small>
    </div>
   <p class="text-center mt-2 d-none d-md-block line-clamp"><%= movie[:overview] %></p>
  <% end %>
  </div>
</div>
