<div class="info px-1 py-2 d-flex flex-column align-items-center justify-content-between">
  <div class="d-flex align-items-center flex-column justify-content-between inside-info">
    <p class="line-clamp-s mb-1"><%= movie[:title] %></p>
    <% if movie[:year].present? %>
    <div class="d-flex flex-row flex-wrap justify-content-center mb-2">
      <small class=""><span class="pe-1"><%= movie[:year] %></span>•</small>
      <small class=""><span class="ps-1"><%= movie[:runtime] %> min</span>•</small>
      <% movie[:genre_names][0..-2].each do |genre| %>
        <small class=""><span class="ps-1"><%= genre %>,</small>
      <% end %>
      <small class=""><span class="ps-1"><%= movie[:genre_names][-1] %> •</small>
      <% if movie[:us_rating].present? %>
        <small class=""><span class="trans-text px-1 mx-1 fw-semibold"><%= movie[:us_rating] %></span></small>
      <% end %>
      <small class="">•<span class="ps-1"><%= movie[:status] %></small>
    </div>
    <% if movie[:tagline].present? %>
      <small class="mb-2 fw-semibold text-center line-clamp-s">“<%= movie[:tagline] %>„</small>
    <% end %>
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <small class="square-score-inv px-1 fw-semibold me-1"><%= movie[:rating_average] %> </small>
      <small class="square-score-inv px-1 fw-semibold me-1"><%= movie[:critic_score] %>% </small>
      <small class="square-score-inv fw-semibold px-1">∆ <%= movie[:popularity].round(1) %></small>
    </div>
  <% else %>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
      <small class="square-score-inv fw-semibold px-1 mx-1"><%= movie[:release_date][0..3] %></small>
      •
      <small class="square-score-inv mx-1 px-1 fw-semibold"><%= movie[:rating_average].round(1) %> </small>
    </div>
   <small class="line-clamp mt-1"><%= movie[:overview] %></small>
  <% end %>
  </div>
</div>
