<div class="lists-container d-flex flex-column flex-sm-row justify-content-center align-items-center p-0">
  <div class="section-titel w-25 gap-3 d-flex flex-row flex-sm-column align-items-center justify-content-center">
    <h3 class="trans-text w-75 fw-bolder text-center"><%= user.first_name %>'s lists</h3>
    <div class="d-flex flex-row">
      <button type="button" class="btn d-flex btn-outline-info mx-1" data-bs-toggle="modal" data-bs-target="#new_list_modal">
        <%= render "svg/plus-square" %>
      </button>
      <%= link_to user_my_lists_path(user), class: "btn d-flex btn-outline-info mx-1" do %>
        <%= render "svg/external-link" %>
      <% end %>
    </div>
  </div>
  <div class="lists-scroller <%= transform if transform.present? %>">
    <div class="lists-group">
    <% if lists.present? %>
      <% lists.each do |list| %>
      <% list_save = "#{current_user.favorited?(list) ? 'btn-danger' : 'btn-info'}"%>
        <div class="lists-element">
          <% if list.cover_picture.present? %>
          <div class="list-card d-flex align-items-end justify-content-center" style="background-image: url('<%= cl_image_path list.cover_picture.key %>');">
              <div class="flex-column list-h text-center bg-trans-0 align-items-center justify-content-center">
                <h4 class=""><%= list.list_name %></h4>
                <div class="d-flex w-100 flex-row align-items-center justify-content-center">
                  <div class="btn p-1 fw-semibold btn-ghost btn-disabled mx-1">
                    <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
                  </div>
                  <%= link_to list_path(list) do %>
                    <div class="btn d-flex btn-success mx-1">
                      <%= render "svg/external-link" %>
                    </div>
                  <% end %>
                  <div data-controller="mark-favorite">
                  <% if list.user != current_user %>
                    <%= turbo_frame_tag "bookmark" do %>
                      <div data-mark-favorite-target="button">
                          <%= button_to toggle_favorite_list_path(list),
                            method: :post,
                            data: { action: "click->mark-favorite#toggle"},
                            class: "btn avatar d-flex align-items-center justify-content-center m-2 #{list_save}" do %>
                              <%= render 'svg/bookmark' %>
                            <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

                  <% if list.user.id == current_user.id %>
                    <%= link_to edit_list_path(list) do%>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/edit" %>
                      </div>
                    <% end %>
                    <%= link_to list_path(list) do %>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/trash" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
          <% else %>
            <% if list.list_items.present? %>
            <div class="list-card d-flex align-items-end justify-content-center" style="background-image: url('<%= list.list_items.first.listable.backdrop_url %>');">
              <div class="flex-column list-h text-center bg-trans-0 align-items-center justify-content-center">
                <h4 class=""><%= list.list_name %></h4>
                <div class="d-flex w-100 flex-row align-items-center justify-content-center">
                  <div class="btn p-1 fw-semibold btn-ghost btn-disabled mx-1">
                    <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
                  </div>
                  <%= link_to list_path(list) do %>
                    <div class="btn d-flex btn-success mx-1">
                      <%= render "svg/external-link" %>
                    </div>
                  <% end %>
                  <% if list.user.id == current_user.id %>
                    <%= link_to edit_list_path(list) do%>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/edit" %>
                      </div>
                    <% end %>
                    <%= link_to list_path(list) do %>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/trash" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% else %>
            <div class="list-card d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path "list-banner" %>');">
              <div class="flex-column list-h text-center bg-trans-0 align-items-center justify-content-center">
                <h4 class=""><%= list.list_name %></h4>
                <div class="d-flex w-100 flex-row align-items-center justify-content-center">
                  <div class="btn p-1 fw-semibold btn-ghost btn-disabled mx-1">
                    <span class=""><%= pluralize(list.list_items.size, "Item") %></span>
                  </div>
                  <%= link_to list_path(list) do %>
                    <div class="btn d-flex btn-success mx-1">
                      <%= render "svg/external-link" %>
                    </div>
                  <% end %>
                  <% if list.user.id == current_user.id %>
                    <%= link_to edit_list_path(list) do%>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/edit" %>
                      </div>
                    <% end %>
                    <%= link_to list_path(list) do %>
                      <div class="btn d-flex btn-success mx-1">
                        <%= render "svg/trash" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <div class="lists-element">
          <div class="list-card d-flex align-items-end justify-content-center" style="background-image: url('<%= image_path "list-banner" %>');" data-bs-toggle="modal" data-bs-target="#new_list_modal">
            <div class="row w-100 h-25 text-center bg-trans-0 align-items-center justify-content-center">
              <h4 class="">Create your first list</h4>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
