<div class="navbar navbar-top ms-auto sticky-top">
  <div class="container-fluid d-flex d-row justify-content-end">
      <ul class=" d-flex d-row list-unstyled align-items-center justify-content-center m-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-ghost dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <%= inline_svg_tag 'svg/search.svg', style: "font-size: 1.5rem;" %>
              </button>
              <div class="dropdown-menu p-0 bg-transparent rounded">
                <%= simple_form_for :search, url: root_path, method: :get, input_html: { class: 'w-100'} do |f| %>
                  <div class="search-form-control form-group p-0 bg-transparent">
                    <input class="form-control string required bg-trans" type="text" name="search[query]" id="search_query" placeholder="Search" />
                    <button name="button" type="submit" class="btn btn-input">
                      <i class="fas fa-search"></i> Search
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <%= inline_svg_tag 'svg/log-in.svg', style: "font-size: 1.5rem;" %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
<nav class="sidebar sticky-top">
  <ul class="sidebar-nav">
    <li class="logo">
      <h2 class="logo-text my-0">Treano</h2>
      <%= inline_svg_tag 'svg/treano.svg', style: "font-size: 2rem;" %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link text-light" do %>
        <%= inline_svg_tag 'svg/home.svg', style: "font-size: 1.5rem;" %>
        <span class="link-text">Home</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link text-light" do %>
        <%= inline_svg_tag 'svg/box.svg', style: "font-size: 1.5rem;" %>
        <span class="link-text">Dashboard</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link text-light" do %>
        <%= inline_svg_tag 'svg/list.svg', style: "font-size: 1.5rem;" %>
        <span class="link-text">Lists</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link text-light" do %>
        <%= inline_svg_tag 'svg/layers.svg', style: "font-size: 1.5rem;" %>
        <span class="link-text">Leaderboard</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link text-light" do %>
        <%= inline_svg_tag 'svg/help-circle.svg', style: "font-size: 1.5rem;" %>
        <span class="link-text">Credits</span>
      <% end %>
    </li>
  </ul>
</nav>
