<div class="navbar navbar-top py-0 py-sm-1 ms-auto sticky-top">
  <div class="container-fluid d-flex d-row justify-content-end align-items-start">
    <div class="flex-grow-1 hello align-items-center justify-content-center">
      <div class="d-flex h-100 flex-row d-none d-md-flex">
      <% if user_signed_in? %>
        <% t = Time.now %>
        <% if t.hour < 12 %>
            <p class="fs-5 fw-normal text-light m-1 p-0">Good morning,</p>
            <p class="fs-5 fw-normal text-light m-1 p-0"><%= current_user.username %></p>
        <% elsif t.hour >= 12 %>
            <p class="fs-5 fw-normal text-light m-1 p-0">Good afternoon,</p>
            <p class="fs-5 fw-normal text-light m-1 p-0"><%= current_user.username %></p>
        <% elsif t.hour > 18 %>
            <p class="fs-5 fw-normal text-light m-1 p-0">Good evening,</p>
            <p class="fs-5 fw-normal text-light m-1 p-0"><%= current_user.username %></p>
        <% end %>
      <% else %>
        <p class="fs-4 fw-light text-light my-0">Join us!</p>
      <% end %>
        </div>
    </div>
    <ul class="py-0 d-flex d-row list-unstyled align-items-center justify-content-end m-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-ghost dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <%= render 'svg/search' %>
              </button>
              <div class="dropdown-menu p-0 bg-transparent rounded">
                <%= simple_form_for :search, url: root_path, method: :get, input_html: { class: 'w-100'} do |f| %>
                  <div class="search-form-control form-group p-0 bg-transparent">
                    <input class="form-control string required bg-trans" type="text" name="search[query]" id="search_query" placeholder="Search" />
                    <button name="button" type="submit" class="btn btn-input text-center">
                      Send
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
          <li class="nav-item flex-wrap">
            <div class="dropdown-center">
              <button type="button" class="btn btn-ghost dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <%= render 'svg/grid' %>
              </button>
              <form class="dropdown-menu dropdown-menu-end p-2 bg-trans border-0">
                <div class="mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                    <label class="form-check-label" for="dropdownCheck2">
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </li>
          <li class="nav-item">
            <button class="btn btn-ghost">
              <%= render 'svg/bell' %>
            </button>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.key.nil? %>
              <%= image_tag "user.svg", class: "avatar-s dropdown-toggle bg-secondary p-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar", :gravity=>"face", :height=>36, :width=>36, :crop=>"thumb", :zoom=>"0.5" %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <%= render 'svg/log-in' %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<%= render "shared/sidebar" %>
