<div >
  <p><%= review.user.username %> <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small></p>
  <% review.rating.times do %>
    <i class="fa-solid fa-star"></i>
  <% end %>
  <p class="mb-0"><%= review.content %></p>
  <% if review.user == current_user %>
    <p><%= link_to "Edit", edit_review_path(review) %></p>
    <p><%= link_to "Delete",
            review_path(review),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  <% end %>
</div>
<hr>
