<nav class="sidebar p-0 m-0 position-fixed">
  <ul class="sidebar-nav">
    <li class="logo py-3">
      <h2 class="logo-text my-0">Treano</h2>
      <%= render 'svg/treano'%>     
    </li>
    <li class="side-item">

      <%= link_to root_path, class: "side-link" do %>
        <%= render 'svg/home' %>   
        <span class="link-text">Home</span>
      <% end %>
    </li>
    <li class="side-item">

      <%= link_to dashboard_path, class: "side-link" do %>
        <%= render 'svg/box' %>
        <span class="link-text">Dashboard</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to lists_path, class: "side-link" do %>
        <%= render 'svg/list' %>   
        <span class="link-text">Lists</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link" do %>
        <%= render 'svg/layers' %>
        <span class="link-text">Leaderboard</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "side-link" do %>
        <%= render 'svg/log-out' %>   
        <span class="link-text">Log out</span>
      <% end %>
    </li>
    <li class="side-item">
      <%= link_to "#", class: "side-link" do %>
        <%= render 'svg/help-circle' %>   
        <span class="link-text">Credits</span>
      <% end %>
    </li>
  </ul>
</nav>
