<div class="container-fluid m-0 px-3 ps-sm-4 py-4">
<%= render "shared/flashes", notice: notice %>
  <h1>User dashboard</h1>
  <div class="container-cards m-0 py-0 py-sm-1 mb-4">
    <div class="row m-0">
      <div class="header">
      <h3 class="title m-0">My profile</h3>
        <p><%= @user.first_name %></p>
        <% if @user.avatar.key.nil? %>
          <%= image_tag "user.svg", class: "avatar-l dropdown-toggle bg-secondary p-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag @user.avatar.key, class: "avatar", :gravity=>"face", :height=>36, :width=>36, :crop=>"thumb", :zoom=>"0.5" %>
        <% end %>
        <p>Member since <%= @user.created_at.strftime("%B %Y") %></p>
        <p>Bio</p>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
  <div class="container-cards m-0 py-0 py-sm-1 mb-4">
    <div class="row m-0">
      <div class="header">
      <h3 class="title m-0">My stats</h3>
        <p>Reviews</p>
        <p><%= @reviews %></p>
        <p>Lists</p>
        <p><%= @lists.count %></p>
        <p>Score</p>
        <p><%= @user.reputation_score %></p>
        <p>Badges - completed challenges </p>
      </div>
    </div>
  </div>
  <div class="container-cards m-0 py-0 py-sm-1 mb-4">
    <div class="row m-0">
      <div class="header">
        <h3 class="title m-0">My lists</h3>
        <%= render "lists/list_form", list: @new_list %>
        <%= render(@lists) || "You have no lists" %>
      </div>
    </div>
  </div>
  <div class="container-cards m-0 py-0 py-sm-1 mb-4">
    <div class="row m-0">
      <div class="header">
        <h3 class="title m-0">My reviews</h3>
          <% user_reviews = current_user.reviews %>
          <% user_reviews.each do |review| %>
            <%= render "reviews/review", review: review %>
            <button aria-label="Edit movie">
              <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->insert-in-list#displayForm"></i>
            </button>
            <%= render "reviews/edit_review", class: "d-none", review: review %>
            <p><%= link_to "Delete",
                    review_path(review),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
