<div class="container-fluid m-0 px-2 ps-sm-3 pt-4">
  <h1 class="fs-1 fw-bold px-2 mb-4"><%= @user.username %>'s dashboard</h1>
  <div class="info-box p-2 p-sm-4">
    <div class="row row-cols-1 row-cols-sm-2">
      <div class="col">
        <div class="p-0 info-h">
          <div class="row">
            <div class="col-6 text-center">
              <h3 class="fw-bolder mb-3 trans-text">Info</h3>
              <% if @user.avatar.key.nil? %>
                <%= image_tag "user.svg", class: "avatar-xl dropdown-toggle bg-secondary p-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag @user.avatar.key, class: "avatar-xl" %>
              <% end %>
            </div>
            <div class="col">
              <h4 class="m-0"><%= @user.first_name %> <%= @user.last_name %></h4>
              <small>Member since</small>
              <small class=""><%= @user.created_at.strftime("%B %Y") %></small>
              <hr>
              <h5 class="m-0">Bio</h5>
              <small class="m-0"><%= @user.bio %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-0 info-h">
          <h4 class="mb-0 trans-text fw-bolder text-center">Stats</h4>
          <div class="d-flex justify-content-center align-items-center mb-0">
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= pluralize(@reviews.count, "Review") %></p>
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= pluralize(@lists.count, "List") %></p>
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= pluralize(@user.reputation_score, "Point") %></p>
          </div>
          <hr class="mt-2">
          <div class="notification row">
          <% @user.badges.each do |badge| %>
            <div class="col-6 d-flex align-items-center justify-content-start">
              <%= image_tag (badge.custom_fields[:image]), class: "badge-m shrink me-2" %>
              <div class="notification-content">
              <p class="fw-semibold m-0"><%= badge.name %></p>
              <p><%= badge.description %></p>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 px-2 ps-sm-3">
  <%= render "shared/mylists", lists: @lists, user: @user, transform: "", message: "lists"  %>
</div>

<% if @saved_lists.present? %>
<div class="row m-0 mt-n5 px-2 ps-sm-3">
  <%= render "shared/mylists", lists: @saved_lists, user: @user, transform: "", message: "saved lists" %>
</div>
<% end %>
<%= render "lists/list_form", list: @new_list %>

<div class="row m-0 px-2 ps-sm-3 mb-5">
  <div class="info-box p-2 p-sm-3">
    <h3 class="m-0 trans-text fw-bolder text-center py-2 mb-4"><%= @user.first_name %>'s reviews</h3>
    <div class="row row-cols-1 row-cols-sm-2" data-controller="insert-in-list">

      <% @reviews.each do |review| %>
        <div class="col">
          <div class="row">
            <div class="col-11">
              <%= render "reviews/review", review: review %>
            </div>
            <div class="col-1 d-flex flex-column align-items-center justify-content-center ps-0">
            <% if current_user == @user %>
              <button type="button" class="btn btn-ghost" aria-label="Edit movie" data-bs-toggle="modal" data-bs-target="#edit_review_modal">
                <%= render "svg/edit" %>
              </button>
              <%= render "reviews/edit_review", review: review %>
              <%= link_to review_path(review), class: "btn btn-ghost",
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  } do %>
                <%= render "svg/trash" %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

