<div class="dashboard-banner m-0 p-0 mt-n5 position-fixed" style="">
</div>

<div class="container-fluid m-0 px-2 ps-sm-3 pt-4">
  <h1 class="fs-1 fw-bold px-2"><%= @user.username %></h1>
  <div class="info-box p-2 p-sm-4">
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="p-3 info-h">
        <div class="row">
          <div class="col-6 text-center">
            <h3 class="fw-bolder mb-3 trans-text">Info</h3>
            <% if @user.avatar.key.nil? %>
              <%= image_tag "user.svg", class: "avatar-xl dropdown-toggle bg-secondary p-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= cl_image_tag @user.avatar.key, class: "avatar-xl", :gravity=>"face", :height=>36, :width=>36, :crop=>"thumb", :zoom=>"0.5" %>
            <% end %>
          </div>
          <div class="col">
            <h5 class="m-0 mt-2"><%= @user.first_name %> <%= @user.last_name %></h5>
            <small>Member since</small>
            <small class=""><%= @user.created_at.strftime("%B %Y") %></small>
            <hr>
            <h5 class="m-0">Bio</h5>
            <small class="m-0"><%= @user.bio %></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 info-h">
        <h3 class="m-0 trans-text fw-bolder text-center">Stats</h3>
        <div class="d-flex justify-content-center align-items-center mb-2">
          <p class="trans-text m-1 px-2 fw-bolder bg-secondary"><%= @reviews %></p>
          <p class="m-1">Reviews</p>
          <p class="trans-text m-1 px-2 fw-bolder bg-secondary"><%= @lists.count %></p>
          <p class="m-1">Lists</p>
          <p class="trans-text m-1 px-2 fw-bolder bg-secondary"><%= @user.reputation_score %></p>
          <p class="m-1">Rank</p>
        </div>
        <h5>Badges - completed challenges </h5>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="lists-container">
    <div class="d-flex align-items-center justify-content-between mx-2">
      <h2 class="section-title">My lists</h2>
      <%= link_to "Show more", "#" %>
    </div>
    <div class="lists-scroller">
      <div class="lists-group">
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1641259041823-e09935369105?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1642543492481-44e81e3914a7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1641118961077-440391095cdc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1640767014413-b7d27c58b058?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
        <div class="lists-element">
          <img
            src="https://images.unsplash.com/photo-1640948612546-3b9e29c23e98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
            alt="">
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid m-0 px-2 ps-sm-3 pb-4">

  <div class="info-box p-2 p-sm-4">
    <h3 class="m-0 trans-text fw-bolder text-center mb-3">My reviews</h3>
    <div class="row row-cols-1 row-cols-sm-2">
      <% user_reviews = current_user.reviews %>
      <% user_reviews.each do |review| %>
        <div class="col d-flex justify-content-center">
          <div class="">
            <%= render "reviews/review", review: review %>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-start ps-0">
            <button class="btn btn-ghost" aria-label="Edit movie" data-action="click->insert-in-list#displayForm">
              <%= render "svg/edit" %>
            </button>
            <%= render "reviews/edit_review", class: "d-none", review: review %>
            <%= link_to review_path(review), class: "btn btn-ghost",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <%= render "svg/trash" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <div class="header">
      <h3 class="title m-0">My lists</h3>
      <%= render "lists/list_form", list: @new_list %>
      <%= render(@lists) || "You have no lists" %>
    </div>
  </div>

</div>
