<div class="container-fluid m-0 px-2 ps-sm-3 pt-4">
  <h1 class="fs-1 fw-bold px-2 mb-4"><%= @user.username %> dashboard</h1>
  <div class="info-box p-2 p-sm-4">
    <div class="row row-cols-1 row-cols-sm-2">
      <div class="col">
        <div class="p-3 info-h">
          <div class="row">
            <div class="col-6 text-center">
              <h3 class="fw-bolder mb-3 trans-text">Info</h3>
              <% if @user.avatar.key.nil? %>
                <%= image_tag "user.svg", class: "avatar-xl dropdown-toggle bg-secondary p-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag @user.avatar.key, class: "avatar-xl", :gravity=>"face", :height=>36, :width=>36, :crop=>"thumb", :zoom=>"0.5" %>
              <% end %>
            </div>
            <div class="col">
              <h5 class="m-0 mt-2"><%= @user.first_name %> <%= @user.last_name %></h5>
              <small>Member since</small>
              <small class=""><%= @user.created_at.strftime("%B %Y") %></small>
              <hr>
              <h5 class="m-0">Bio</h5>
              <small class="m-0"><%= @user.bio %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-3 info-h">
          <h3 class="mb-3 trans-text fw-bolder text-center">Stats</h3>
          <div class="d-flex justify-content-center align-items-center mb-2">
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= @reviews.count %></p>
            <p class="m-1">Reviews</p>
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= @lists.count %></p>
            <p class="m-1">Lists</p>
            <p class="trans-text m-1 px-2 fw-bolder bg-info"><%= @user.reputation_score %></p>
            <p class="m-1">Rank</p>
          </div>
          <h5>Badges - completed challenges </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 px-2 ps-sm-3">
  <%= render "shared/mylists", lists: @lists, user: @user, transform: "" %>
</div>
<%= render "lists/list_form", list: @new_list %>

<div class="row m-0 px-2 ps-sm-3 mb-5">
  <div class="info-box p-2 p-sm-4">
    <h3 class="m-0 trans-text fw-bolder text-center mb-3">My reviews</h3>
    <div class="row row-cols-1 row-cols-sm-2">
      <% @reviews.each do |review| %>
        <div class="col">
          <div class="row">
            <div class="col-11">
              <%= render "reviews/review", review: review %>
            </div>
            <div class="col-1 d-flex flex-column align-items-center justify-content-center ps-0">
              <button class="btn btn-ghost" aria-label="Edit movie" data-action="click->insert-in-list#displayForm">
                <%= render "svg/edit" %>
              </button>
              <%= render "reviews/edit_review", class: "d-none", review: review %>
              <%= link_to review_path(review), class: "btn btn-ghost",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <%= render "svg/trash" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


