<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>
  <%= @airly_tvs.size %> 
  <%= @popular_tvs.size %>
    <%= @toprated_tvs.size %>
    <%= @weeklytrends_tvs.size %>
    <%= @popular_movies.size %>
    <%= @toprated_movies.size %>
    <%= @weeklytrends_movies.size %>
    <%= @upcoming_movies.size %>
  </p>
</div>
