<% @airly_tvs.size %> 
<% @popular_tvs.size %>
<% @toprated_tvs.size %>
<% @weeklytrends_tvs.size %>
<% @popular_movies.size %>
<% @toprated_movies.size %>
<% @weeklytrends_movies.size %>
<% @upcoming_movies.size %>

<div class="container-fluid ps-4 py-4">
  <div class="">
    <div class="container-cards p-3 pt-2 p-md-4 pt-md-3">
      <h3>Popular movies</h3>
      <div class="media-scroller">
        <div class="mx-auto media-group" id="group-1">
          <% @popular_movies[0..4].each do |movie| %>
            <div class="media-element">
              <%= image_tag movie[:poster_url] %>
              <div class="medio-description bg-trans">
                <h5><%= movie[:title] %></h5>
              </div>
            </div>  
          <% end %>
          <%= link_to "#group-2", aria: {label: "next"}, class: "next text-center" do %>
            <%= render 'svg/chevrons-right' %>  
          <% end %>
        </div>
        <div class="mx-auto media-group" id="group-2">
          <%= link_to "#group-1", aria: {label: "previous"}, class: "previous" do %>
            <%= render 'svg/chevrons-left' %>  
          <% end %>
          <% @popular_movies[5..9].each do |movie| %>
            <div class="media-element">
              <%= image_tag movie[:poster_url] %>
            </div>  
          <% end %>
          <%= link_to "#group-3", aria: {label: "next"}, class: "next" do %>
            <%= render 'svg/chevrons-right' %>  
          <% end %>
        </div>
        <div class="mx-auto media-group" id="group-3">
          <%= link_to "#group-2", aria: {label: "previous"}, class: "previous" do %>
            <%= render 'svg/chevrons-left' %>  
          <% end %>
          <% @popular_movies[9..14].each do |movie| %>
            <div class="media-element">
              <%= image_tag movie[:poster_url] %>
            </div>  
          <% end %>
          <%= link_to "#group-4", aria: {label: "next"}, class: "next" do %>
            <%= render 'svg/chevrons-right' %>  
          <% end %>
        </div>
        <div class="mx-auto media-group" id="group-4">
          <%= link_to "#group-3", aria: {label: "previous"}, class: "previous" do %>
            <%= render 'svg/chevrons-left' %>  
          <% end %>
          <% @popular_movies[15..19].each do |movie| %>
            <div class="media-element">
              <%= image_tag movie[:poster_url] %>
            </div>  
          <% end %>
          <%= link_to "#group-1", aria: {label: "next"}, class: "next" do %>
            <%= render 'svg/chevrons-right' %>  
          <% end %>
        </div>
      </div>
    </div>

    <h3>Top-rated movies</h3>
    <div class="container-cards media-scroller">
      <div class="mx-auto media-group">
        <% @toprated_movies[0..4].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @toprated_movies[5..9].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @toprated_movies[10..14].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @toprated_movies[15..19].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <%= render 'svg/chevrons-left' %>           
      <%= render 'svg/chevrons-right' %>           
    </div>
    <div class="container-cards media-scroller">
      <div class="mx-auto media-group">
        <% @weeklytrends_movies[0..4].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @weeklytrends_movies[5..9].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @weeklytrends_movies[10..14].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @weeklytrends_movies[15..19].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <%= render 'svg/chevrons-left' %>           
      <%= render 'svg/chevrons-right' %>           
    </div>
    <div class="container-cards media-scroller">
      <div class="mx-auto media-group">
        <% @upcoming_movies[0..4].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @upcoming_movies[5..9].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @upcoming_movies[10..14].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
      <div class="mx-auto media-group">
        <% @upcoming_movies[15..19].each do |movie| %>
          <div class="media-element">
            <%= image_tag movie[:poster_url] %>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>

