<div id="carouselBanner" class="carousel slide carousel-fade mt-n5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="9" aria-label="Slide 10"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item img-gradient active">
      <img src="<%= @trends_media[0][:backdrop_url] %>" class="d-block position-relative" alt="...">
      <div class="position-absolute banner-info">
        <%= render 'shared/movie_banner_info', movie: @trends_media[0] %>
        <% this_movie = Movie.find_by(tmdb_id: @trends_media[0][:tmdb_id]) %>
        <% if this_movie %>
          <div class="d-flex align-items-start justify-content-center mt-n0">
            <%= link_to 'More info', movie_path(this_movie), class: "btn btn-success fw-semibold btn-banner" %>
          </div>
        <% end %>
      </div>
    </div>
    <% @trends_media[1..9].each do |media| %>
    <div class="carousel-item img-gradient">
      <img src="<%= media[:backdrop_url] %>" class="d-block" alt="...">
      <div class="position-absolute banner-info p-2">
        <% if media[:release_date] %>
          <%= render 'shared/movie_banner_info', movie: media %>
          <% this_movie = Movie.find_by(tmdb_id: media[:tmdb_id]) %>
          <% if this_movie %>
            <div class="d-flex align-items-start justify-content-center mt-n0">
              <%= link_to 'More info', movie_path(this_movie), class: "btn btn-success fw-semibold btn-banner" %>
            </div>
          <% end %>
        <% else %>
          <%= render 'shared/tv_banner_info', tv: media %>
          <% this_tv = Tv.find_by(tmdb_id: media[:tmdb_id]) %>
          <% if this_tv %>
            <div class="d-flex align-items-start justify-content-center mt-n">
              <%= link_to 'More info', tv_path(this_tv), class: "btn btn-success fw-semibold btn-banner" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<% if user_signed_in? %>
  <div class="row m-0 px-2 ps-sm-3">
    <%= render "shared/mylists", lists: @lists, user: current_user, transform: "" %>
  </div>
<% end %>

<div class="container-fluid m-0 px-3 ps-sm-4 mt-n0 pb-4">
  <%= render 'shared/movies_slider', movies: @popular_movies, slider_title: 'Popular movies' %>
  <%= render 'shared/tvs_slider', tvs: @popular_tvs, slider_title: 'Popular TV shows' %>
  <%= render 'shared/movies_slider', movies: @toprated_movies, slider_title: 'Top-rated movies' %>
  <%= render 'shared/tvs_slider', tvs: @toprated_tvs, slider_title: 'Top-rated TV shows' %>
  <%= render 'shared/movies_slider', movies: @weeklytrends_movies, slider_title: 'Trending movies this week' %>
  <%= render 'shared/tvs_slider', tvs: @weeklytrends_tvs, slider_title: 'Trending TV shows this week' %>
  <%= render 'shared/movies_slider', movies: @upcoming_movies, slider_title: 'Upcoming movies' %>
  <%= render 'shared/tvs_slider', tvs: @airly_tvs, slider_title: 'On-air TV shows' %>
</div>
