<div class="card-review bg-trans rounded mb-2" data-insert-in-list-target="review">
  <%= link_to review.reviewable_type == "Movie" ? movie_path(review.reviewable) : tv_path(review.reviewable) do %>
    <%= image_tag review.reviewable.poster_url %>
  <% end %>
  <div class="review-scroll">
    <div class="card-review-infos my-2">
      <div class="d-flex mb-1">
        <%= link_to user_dashboard_path(review.user), target: "_blank" do %>
          <% if review.user.avatar.key.nil? %>
            <%= image_tag "user.svg", class: "avatar-s bg-secondary p-1" %>
          <% else %>
            <%= cl_image_tag review.user.avatar.key, class: "avatar", :aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb", :radius=>"max" %>
          <% end %>
        <% end %>
        <%= link_to user_dashboard_path(review.user), target: "_blank" do %>
          <p class="ps-2 m-0"><%= review.user.username %></p>
        <% end %>
        <small class="ps-2">
          <em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em>
        </small>
      </div>
      <% review.rating.to_i.times do %>
        <i class="fa-solid fa-star mb-1"></i>
      <% end %>
      <p class="mb-0"><%= review.content %></p>
    </div>
  </div>
</div>
