<!DOCTYPE html>
<html>
  <head>
    <title>Treano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid row p-0 m-0">
      <div class="col-auto p-0 m-0">
        <%= render "shared/sidebar" %>
      </div>
      <div class="container col min-vh-100 p-0 m-0">
        <%= render "shared/navbar" %>
        <div class="container-fluid mt-5 py-4">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
