<!DOCTYPE html>
<html>
  <head>
    <title>Treano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="dark"></div>
    <%= render "shared/navbar" %>
    <%= render "svg/bookmarkgradient" %>
    <div class="container-fluid m-0 ps-0 ps-lg-5 pe-0">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
